FROM python:3.11-alpine
WORKDIR {{ dockerBuildVars[module].app_dir }}
RUN mkdir log
COPY requirements.txt .
RUN pip install --no-cache-dir -r requirements.txt
COPY . ./
EXPOSE {{ dockerBuildVars[module].port }}
ENTRYPOINT ["uvicorn", "main:app", "--host", "{{ dockerBuildVars[module].interface }}", "--port", "{{ dockerBuildVars[module].port }}"]